body {
  font-family: Helvetica, sans-serif;
}



header {
  max-width: 400px;
  margin: 50px auto;
}

header h1 {
  font-size: 18px;
  text-transform: uppercase;
}

header p {
  font-size: 14px;
  /* font-weight: 300; */
}




#album-summary {
  max-width: 400px;
  margin: 0 auto;
}

#album-summary h2 {
  font-size: 14px;
  text-transform: uppercase;
}

#album-summary svg {
  background: #dfe6e9;
}

#album-summary rect {
  fill: #ff7675
}

#album-summary .song {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  fill: #2d3436;
}

#album-summary .love-song {
  fill: white;
}


/* 

#albums {
  max-width: 100%;
  padding: 20px;
  margin: 20px auto;
  column-count: 13;
}

.album-column {
  page-break-inside: avoid;
}



.album-image {
  position: relative;
}

.album-image img {
  width: 100%;
  border-radius: 4px;
  height: 100%;
}


.song-list {
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.song {
  margin: 0;
  padding: 0;
  height: 7px;
  background: #b2bec3;
  box-sizing: border-box;
  border: 1px solid white;
}

.love-song {
  background: #ff7675;
} */
